body {
  margin: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
}

.page-container {
  text-align: center;
  margin: 50px;
}

.page-container > h3 {
  font-size: 2em;
  margin-bottom: 50px;
  color: #F2B59D;
  font-weight: 700;
  text-shadow: 0px 4px 10px #f4cdbd
}

.page-container > h4 {
  margin-bottom: 30px;
  font-size: 1.5em;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  border-color: #F2B59D;
  margin: 10px;
  border-radius: 5px;
  padding: 8px;
}

.search-button {
  color: #f4cdbd;
  border-style: none;
  border-radius: 50px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 1em;
  margin: 20px;
  color: rgb(100, 100, 100);
}

.card-title-home {
  font-size: 2em;
  color: white;
  text-align: center;
}

.coctail-emoji {
  padding-left: 1em;
}

.cocktail-list {
  margin: 0;
  padding: 0;
  padding-left: 0.7em;
  text-align: left;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #fce8e2;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.footer-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #D87151;
  color: #F2B59D;
}

.footer-link:hover {
    cursor: pointer;
    color: #D87151;
}
